*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
.Container{
    display: flex;
    flex-direction: column;
}

#Header {
    font-size: xx-large;
    text-align: center;
    color: white;
    background-image: url(image/seven.jpg);
    background-size: cover;
    padding: 200px;
    }

nav {
    background-color: rgb(69, 172, 69);
    padding: 20px;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 1em;
}
nav ul li{
    list-style-type: none;
    margin-left: 20px;
    font-size:large;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: aqua;
    font-weight: bold;
    cursor: pointer;
}
nav ul li .dropdown{
    display: none;
}
nav ul li:hover .dropdown {
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 172, 69); 
    position: absolute;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
p{
    text-align: justify;
}
.Image{
    width:40%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}
.TembokBesar{
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px;
}
.PatungChrist{
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
.MachuPicchu{
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 
}
.TajMahal{
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
.Petra{
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 
}
.Colosseum{
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 
}
.Chichen{
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 
}
#AboutMe{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.section{
    display: flex;

}
section{
    flex: 50%;
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.iframe{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}
footer{
    padding: 20px;
    color: white;
    background-color: rgb(69, 172, 69);
    text-align: center;
    font-weight: bold;
}
@media screen and (max-width: 880px) {
    nav ul{
        justify-content: center;
    }
    #Header{
        background-size:cover;
        justify-content: center;
        padding: 100px;
        font-size: medium;
    }
    .section{
        flex-direction: column;
        gap: 1em;
    }
}
